
body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}


.container {
	width: 80%;
	margin: 0 auto;
  padding-bottom: 10px;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header {
  background-color:#0C0034;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo{
  font-size: 30px;
  color: white;
}
.dropdown {
 
    float: right;
    overflow: hidden;
   
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4679BD;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#F8E9A1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color:#E85A4F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
body{
  background-color: #3500D7;
}

.aboutcircle {
    position:absolute;
   top:20%;
   left:20%;
   margin-top:-60px;
   margin-left:-80px;
    width: 20vw;
    height: 20vw;
    
    padding: 10px;
  }
  .aboutcircle:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #F8E9A1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .aboutcircle div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
  }
  .who:hover {
    color: black;
}

.works:hover{
    color:black;
}

.contact:hover{
  color:black;
}

.poke:hover{
  color:black;
}

.Questionnaire:hover{
  color:black;
}
.Douban:hover{
  color:black;
}

  .projectcircle {
    position: relative;
   top:50%;
   left:50%;
   margin-top:272px;
   margin-left:-80px;
    width: 20vw;
    height: 20vw;
    
    padding: 10px;
  }
  .projectcircle:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .projectcircle div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
  }
 

  .contactcircle {
    position:absolute;
   top:25%;
   left:75%;
   margin-top:-60px;
   margin-left:-80px;
    width: 20vw;
    height: 20vw;
    padding: 10px;
  }
  .contactcircle:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .contactcircle div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
  }

.me{
    color:#a8b3c5;
    position: inherit;
    margin-top:600px;
   margin-left:-80px;
    background:	#2B2B2B;
  text-align:center;
  padding: 250px;
}


.project1 {
   top:20%;
   left:20%;
   position: relative;
   margin-top:-330px;
   margin-left:-50px;
    width: 20vw;
    height: 20vw;
    
    padding: 10px;
  }
  .project1:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #F76C6F;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .project1 div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: white;
  }

  .project2 {
    top:20%;
    left:20%;
    margin-top:50px;
    margin-left:-300px;
     width: 20vw;
     height: 20vw;
     
     padding: 10px;
   }
   .project2:after {
     content: "";
     display: block;
     width: 100%;
     height: 0;
     padding-bottom: 100%;
     background: #F76C6F;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
   }
   .project2 div {
    position: relative; 
    float: left;
     width: 100%;
     padding-top: 50%;
     line-height: 1em;
     margin-top: -0.5em;
     text-align: center;
     color: white;
   }

   .project3 {
    top:20%;
    left:20%;
    position: relative;
    margin-top:-250px;
    margin-left:150px;
     width: 20vw;
     height: 20vw;
     
     padding: 10px;
   }
   .project3:after {
     content: "";
     display: block;
     width: 100%;
     height: 0;
     padding-bottom: 100%;
     background: #F76C6F;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
   }
   .project3 div {
     position: absolute;
    float: left;
     width: 100%;
     padding-top: 50%;
     line-height: 1em;
     margin-top: -0.5em;
     text-align: center;
     color: white;
   }


   .projects{
       padding: 100px;
       margin: 150px;
       
   }
   .footerContainer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: auto;
    background-color:#0C0034;
    color: white;
    text-align: center;
    padding:15px;
    font-size: 25px;
    margin: 0 auto;

 }
 .fab:hover{
   color: rgb(130, 133, 175);

 }

